.navbar {
  border: green 2px solid;
}
ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  font-size: 1em;
}
* {
  text-decoration: none;
  color: rgb(1, 73, 1);
}
